/* places the two hearts relative to page subheaders */

@media (min-width: 810px) {
    .page-subheader::after {
        position: absolute;
        top: -40%;
        transform: scale(40%);
        right: -5%;
        content: url("/src/img/2hearts.png") ;
    }

}

@media (max-width: 810px) {
    .page-subheader::after {
        position: absolute;
        top: -40%;
        transform: scale(90%);
        right: -5%;
        content: url("/src/img/2hearts.png") ;
    }
}
